extends ./layout.jade
block contenido
  form(action="/sessions", method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", id="email", name="email", placeholder="Email", class="form-control")
    div(class="form-group")
      label(for="password") Contraseña
      input(type="password", id="password", name="password", class="form-control")
    div
      input(type="submit", value="Enviar", class="btn btn-success")
